@charset "UTF-8";
h2 {
	text-align: center;
}

.buttonContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	margin-top: 10px;
}
.inputButton {
	background-color: #eedcba;
    border: none;
	border-radius: 10px;
    width: 110px;
    height: 35px;
    margin: 5px;
}
.searchContainer input{
	margin-left: 10px;
}
.searchContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
}
.inputTableCustomer {
	width: 40%;
	border: none;
	border-radius: 10px;
	padding: 5px;
	margin: auto;
	margin-top: 10px;
	box-shadow: 2px 2px 5px;
}

.inputTable {
	width: 60%;
	border: none;
	border-radius: 10px;
	padding: 5px;
	margin: auto;
	margin-top: 10px;
	box-shadow: 2px 2px 5px;
}
.listTable th {
	text-align: center;
	background-color: #eedcba;
}

.listTable {
	width: 60%;
	border: none;
	border-radius: 10px;
	padding: 5px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 2px 2px 5px;
}

.listTable th:first-child {
	border-top-left-radius: 10px;
}

.listTable th:last-child {
	border-top-right-radius: 10px;
}

.listTable tr:last-child th:first-child {
	border-bottom-left-radius: 10px;
}

.listTable tr:last-child th:last-child {
	border-bottom-right-radius: 10px;
}
th {
	text-align: center;
	background-color: #eedcba;
}
td {
	margin-left: 5px;
	text-align: center;
}