@charset "UTF-8";
h2 {
	text-align: center;	
}
.errorMsg {
	display: flex;
	color: red;
	justify-content: center;
	margin-top: 10px;
}
.surgeryError {
	display: flex;
	color: red;
	justify-content: center;
	margin-top: 10px;
}
#clinicError {
	display: flex;
	color: red;
	justify-content: center;
	margin-top: 10px;
}
/* -------------------- */
/* petDetail */
.petFormMain{
	display: flex;
	justify-content:center;
	align-items: center;
	flex-direction: column;
}
.petForm{
	display: flex;
	flex-direction: column;
	margin-top: 40px;
 	box-shadow: 0 0 10px rgba(0,0,0,0.1); 
    border-radius: 8px; 
    width: 550px;
    padding: 30px;
	font-size: 20px;
}
.detailPetBtn{
	margin-top: 0px;
	width: 100px;
	height: 50px;
	background-color: #eedcba;
	border: 0;
	border-radius: 10px;
}

.petForm div{
 	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	margin-top: 20px;
}

.petForm input{
	padding: 0px;
	width: 80%;
}

.petForm label{
	margin-right: 10px;
}
#petDetailDiv{
	display: flex;
	flex-direction: column;
	font-size: 20px;
}
#detailCustomerBtn{
	display: flex;
	margin-top: 20px;
	justify-content: space-between;
	font-size: 20px;
}

/* customerDetail */
.customerFormMain{
	display: flex;
	justify-content:center;
	align-items: center;
	flex-direction: column;
}
.customerForm{
	display: flex;
	flex-direction: column;
	margin-top: 40px;
 	box-shadow: 0 0 10px rgba(0,0,0,0.1); 
    border-radius: 8px; 
    width: 550px;
    padding: 30px;
	font-size: 20px;
}
.detailCustomerBtn{
	margin-top: 0px;
	width: 100px;
	height: 50px;
	background-color: #eedcba;
	border: 0;
	border-radius: 10px;
}

.customerForm div{
 	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	margin-top: 20px;
}

.customerForm input{
	padding: 0px;
	width: 80%;
}

.customerForm label{
	margin-right: 10px;
}
#customerDetailDiv{
	display: flex;
	flex-direction: column;
	font-size: 20px;
}
#detailCustomerBtn{
	display: flex;
	margin-top: 20px;
	justify-content: space-between;
	font-size: 20px;
}
.petListTable{
	width: 550px;            
    border-collapse: collapse;
    margin: 0px;    
    box-shadow: 0 2px 3px #ccc; 
}
.petListTable tr:hover {
    background-color: #e8e8e8; 
}

.petListTable th{ 
    padding: 8px 12px;     
    text-align: center;      
    border-bottom: 1px solid #ddd; 
}
.petListTable td {
	padding: 8px 12px;     
	text-align: center;      
	border-bottom: 1px solid #ddd; 
}
.petListTable th {
    background-color: #eedcba;; 
    font-weight: bold; 
}

.petListBtn {
	margin-top: 0px;
	width: 100px;
	height: 40px;
	background-color: #eedcba;
	border: 0;
	border-radius: 10px;
}

/* searchList */
.searchAllFormMain{
	display: flex;
	justify-content:center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
}
.searchListTable{
	width: 80%;            
    border-collapse: collapse;
    margin: 20px;    
    box-shadow: 0 2px 3px #ccc; 
}
.searchListTable tr:hover {
    background-color: #e8e8e8; 
}

.searchListTable th { 
    padding: 8px 12px;     
    text-align: center;      
    border-bottom: 1px solid #ddd; 
}
.searchListTable td { 
	padding: 8px 12px;     
	text-align: center;      
	border-bottom: 1px solid #ddd; 
}
.searchListTable th {
    background-color: #eedcba;; 
    font-weight: bold; 
}

.searchListBtn {
	margin-top: 0px;
	width: 100px;
	height: 40px;
	background-color: #eedcba;
	border: 0;
	border-radius: 10px;
}

#searchDiv{
	width: 50%;
}
#searchListForm{
	display: flex;
	justify-content: center;
}
#paginationForm{
	display: flex;
	justify-content: center;
	width: 700px;
	margin-top: 0px;
	flex-direction: unset;
	border: 0;
	padding: 0;
	box-shadow: none;
}
#searchInputBtn {
	margin-top: 0px;
	width: 100px;
	height: 40px;
	margin-left: 5px;
	border: 0;
} 

.searchFormInput {
    margin-left: 5px;
}
.serachFormLabel {
	display: flex;
	padding-top: 10px;
    margin-right: 0px;
    margin-left: 10px;
    align-items: center;
}

.searchListRadio {
    display: flex;
    align-items: center;
    margin: 5px;
}
.currentPage {
    padding: 10px 20px;
    margin: 5px;
    background-color: #eedcba;
    border-radius: 5px;
    color: black;
    font-size: 16px;
}
/* customerRegi */
#customerRegiBtn {
	display: flex;
	margin-top: 20px;
	justify-content: space-between;
	font-size: 20px;
}
.customerRegiBtn {
	margin-top: 0px;
	width: 100px;
	height: 50px;
	background-color: #eedcba;
	border: 0;
	border-radius: 10px;
}
/* petRegi*/
#regiPetSelect {
	width: 80%;
	text-align: center;
}
#petRegiBtn {
	display: flex;
	margin-top: 20px;
	justify-content: space-between;
	font-size: 20px;
}
.petRegiBtn {
	margin-top: 0px;
	width: 100px;
	height: 50px;
	background-color: #eedcba;
	border: 0;
	border-radius: 10px;
}

.inputDateCenter {
	text-align: center;
}


#surgeryForm{
	width: 80%;
	margin: auto;
}

#surgeryMainDiv{
	display: flex;
	flex-direction: unset;
	box-shadow: 0 0;
	width: 100%;
	padding: 5px;
	margin-top: 0;
	border: 1px solid #ced4da;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  	background-color: #ffffff;
}

#surgeryTitleDiv{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	font-weight: bold;
	flex-grow: 2;
}

#surgeryContentLeftDiv{
	display: left;
	padding: 10px;
	width: 30%;
	border: 1px solid #ced4da;
	border-radius: 10px;
	text-align: center;
}

#surgeryContentLeftDiv span{
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
}

#surgeryContentLeftDiv select{
    width: 100px;
    height: 30px;
    text-align: center;
}

#surgeryContentLeftDiv button{
	margin-top: 0px;
    width: 80px;
    padding: 5px;
    background-color: #eedcba;
    border: 0;
    border-radius: 10px;
}

#surgeryContentRightDiv{
	display: right;
	margin-right: 10px;
	padding: 10px;
	width: 50%;
	border: 1px solid #ced4da;
	border-radius: 10px;
	text-align: center;
}

#surgeryContentRightDiv select{
    width: 100px;
    height: 30px;
    text-align: center;
}

#surgeryContentRightDiv span{
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
	margin: auto;
}

#surgeryContentRightDiv table{
	margin: auto;
	margin-bottom: 10px;
	background-color: #eedcba;
	border-radius:10px;
	width: 400px;
	height: 150px;
}

#surgeryContentRightDiv button{
	margin-top: 0px;
    width: 80px;
    padding: 5px;
    background-color: #bed8cb;
    border: 0;
    border-radius: 10px;
}

#surgeryContentRightDiv button:hover{
	background-color: #ddc5c8;
}
#clinicForm{
	width: 80%;
	margin: auto;
}

#clinicMainDiv{
	display: flex;
	flex-direction: unset;
	box-shadow: 0 0;
	width: 100%;
	padding: 5px;
	margin-top: 0;
	border: 1px solid #ced4da;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  	background-color: #ffffff;
}

#clinicTitleDiv{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	font-weight: bold;
	flex-grow: 2;
}

#clinicContentLeftDiv{
	display: left;
	padding: 10px;
	width: 30%;
	border: 1px solid #ced4da;
	border-radius: 10px;
	text-align: center;
}

#clinicContentLeftDiv span{
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
}

#clinicContentLeftDiv select{
    width: 100px;
    height: 30px;
    text-align: center;
}

#clinicContentLeftDiv button{
	margin-top: 0px;
    width: 80px;
    padding: 5px;
    background-color: #eedcba;
    border: 0;
    border-radius: 10px;
}

#clinicContentRightDiv{
	display: right;
	margin-right: 10px;
	padding: 10px;
	width: 50%;
	border: 1px solid #ced4da;
	border-radius: 10px;
	text-align: center;
}

#clinicContentRightDiv select{
    width: 100px;
    height: 30px;
    text-align: center;
}

#clinicContentRightDiv span{
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
	margin: auto;
}

#clinicContentRightDiv table{
	margin: auto;
	margin-bottom: 10px;
	background-color: #eedcba;
	border-radius:10px;
	width: 400px;
	height: 150px;
}

#clinicContentRightDiv button{
	margin-top: 0px;
    width: 80px;
    padding: 5px;
    background-color: #bed8cb;
    border: 0;
    border-radius: 10px;
}

#clinicContentRightDiv button:hover{
	background-color: #ddc5c8;
}
#clinicContentHistory{
	text-align: left;
	overflow: auto;
	height: 230px;
}
#clinicInputText{
	height: 200px;
	width: 100%;
}
#clinicInfoTitleDiv{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	font-weight: bold;
	flex-grow: 2;
}


#clinicInfoMainDiv{
	display: flex;
	flex-direction: unset;
	box-shadow: 0 0;
	width: 100%;
	padding: 5px;
	margin-top: 0;
	border: 1px solid #ced4da;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  	background-color: #ffffff;
}
#clinicInfoLeftDiv{
	display: left;
	padding: 10px;
	width: 30%;
	border: 1px solid #ced4da;
	border-radius: 10px;
	text-align: center;
}

#clinicInfoRightDiv{
	display: right;
	margin-right: 10px;
	padding: 10px;
	width: 50%;
	border: 1px solid #ced4da;
	border-radius: 10px;
	text-align: center;
}
#clinicInfoLeftContent{
	text-align: left;
	margin-left: 10px;
}
#clinicInfoRightContent{
	text-align: left;
	margin-left: 10px;
}
#clinicInfoRightContent div{
	margin-top: 10px;
}
#clinicContentToday{
	margin-top: 0px;
    width: 200px;
    height: 40px;
    border: 0;
}