/* 롯데마트 드림 폰트 */
@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 400;
	src: url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}
#fontSet{
	font-family: 'LotteMartDream';
}

/*----------------- hearder.jsp -----------------*/
#header{
	background-color: #675d50;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

#headerLogin{
	color: #bed8cb;
	background-color: #675d50;
	text-align: right;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right:15px; 
}

#headerLogin button{
	background-color: #eedcba;
	border: none;
	border-radius: 5px;
	width: 110px;
	height: 35px;
}

#mainCategory{
	background-color: #675d50;
	display: flex;
	height: 60px;
}

#logoImg{
	background-color: #675d50;
	flex: 0 10%;
	text-align: center;
}

#mainCategoryDiv{
	background-color: #675d50;
	flex: 1;
}

#mainCategoryDiv button{
	background-color: #eedcba;
	border: none;
	border-radius: 5px;
	width: 110px;
	height: 35px;
	margin-left: 30px;
}

#mainCategoryDiv button:hover{
	background-color: #bed8cb;
}

#mainCategoryDiv button:active{
	background-color: #bed8cb;
}

img{
	width: 100px;
	position: absolute;
	top: 20px;
	left: 50px;
	
}

/*----------------- subMenu.jsp -----------------*/
#subMenu{ 
	background-color: #675d50;
	text-align: center;
	position: fixed;
    top: 120px;
    width: 9%;
    height: 100%;
}
#subMenuBtnContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
#subMenu button{
	background-color: #eedcba;
	border: none;
	border-radius: 5px;
	width: 110px;
	height: 35px;
	margin-top: 30px;
}

#subMenu button:hover{
	background-color: #bed8cb;
}

#subMenu button:active{
	background-color: #bed8cb;
}

/*----------------- mainContent.jsp -----------------*/	
main{
	background-color: red;
	position: relative;
	top: 130px;
	left: 200px;
	width: 88%
}
