/* hospitalRoomList.jsp */
#hospitalRoomList button{
	background-color: #eedcba;
	border: 1px solid black;
	border-radius: 5px;
}

#hospitalRoomList button:hover{
	background-color: #bed8cb;
}

#hospitalRmON{
	border: 3px solid #bed8cb;
	border-radius: 10px;
	background-color : #ddc5c8;
	text-align: center;
	width: 120px;
	height: 160px;
	float: left;
	margin:5px;
}

#hospitalRmOFF{
	border: 3px solid #bed8cb;
	border-radius: 10px;
	background-color : #eedcba;
	opacity: 0.6;
	text-align: center;
	width: 120px;
	height: 160px;
	float: left;
	margin:5px;
}

#hospitalRmName{
	font-weight: bold;
}

#offRmLight{
	font-weight: bold;
	font-size:15pt;
	color: #595959;
}

#onRmLight{
	font-weight: bold;
	font-size:15pt;
	color: #55aa00;
}

/* hospitalizationList.jsp */



/* hospitalizationDetail.jsp */
#iconAnimal{ /* 동물아이콘 */
	width: 150px;
	height: 150px;
}


/* clinicDetailForm.jsp */
#clinicDetailMainDiv{
	border: 1px solid #ced4da;
	border-radius: 10px;
	width: 100%
	
}

#prescriptionForm{
	width: 80%;
}