@charset "UTF-8";


.inline {
    display: inline-block;
}

#listMain{
	display: flex;
	justify-content:center;
	align-items: center;
	flex-direction: column;
}

#detailBtn{
	margin-top: 0px;
	width: 100px;
	height: 50px;
	background-color: #eedcba;
	border: 0;
	border-radius: 10px;
}

#detailBtn:hover{
	background-color: #bed8cb;
}

#searchBtn{
	margin-top: 0px;
	width: 100px;
	height: 40px;
	margin-left: 30px;
	border: 0;
}

#currentPage {
    padding: 10px 20px;
    margin: 5px;
    background-color: #eedcba;
    border-radius: 5px;
    color: black;
    font-size: 16px;
}

#paginationDiv{
	display: flex;
	justify-content:center;
	align-items: center;
	flex-direction: column;
	height: 50px;
	width: 100%;
}

#paginationForm{
	display: flex;
	justify-content: center;
	width: 700px;
	margin-top: 0px;
	flex-direction: unset;
	border: 0;
	padding: 0;
	box-shadow: none;
}

#paginationForm select{
	margin-left: 30px;
}

#paginationLabel {
	padding-top: 10px;
    margin-right: 0px;
}

#paginationInput {
    padding: 0px;
    width: 300px;
    height: 40px;
    margin-left: 30px;
}

#paginationBtn {
	margin-top: 0px;
	width: 100px;
	height: 40px;
	border: 0;
}


#centerDiv{
	display: block;
	justify-content: center;
	text-align: center;
}


 /* examinationList */
#examinationMain{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

#examinationSearchForm{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

#examinationSearchForm input{
	padding: 0px;
    width: 300px;
    height: 40px;
    margin-left: 30px;
}

#examinationListTable{
	width: 90%;            
    border-collapse: collapse;
    margin: auto;    
    box-shadow: 0 2px 3px #ccc; 
}

#examinationListTable table{
	width: 100%;
}

#examinationListTable td{
	padding: 8px 12px;     
    text-align: center;      
    border-bottom: 1px solid #ddd; 
}



#examinationListTable th{
	padding: 8px 12px;     
    text-align: center;      
    border-bottom: 1px solid #ddd; 
	background-color: #eedcba;; 
    font-weight: bold; 
}

#examinationListTable tr:hover{
	background-color: #e8e8e8; 
}


/* examinationDetail */
#examinationDetailTable{
	width: 60%;            
    border-collapse: collapse;
    margin: 20px;    
    box-shadow: 0 2px 3px #ccc; 
}
 
#examinationDetailTable table{
	width: 100%;
} 

#examinationDetailTable td{
	padding: 8px 12px;     
    text-align: center;      
    border-bottom: 1px solid #ddd; 
}

#examinationDetailTable th{
	padding: 8px 12px;     
    text-align: center;      
    border-bottom: 1px solid #ddd; 
	background-color: #eedcba;; 
    font-weight: bold; 
}

#examinationDetailTable tr:hover{
	background-color: #e8e8e8; 
}


 /* surgeryList */
 #surgeryListMain{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

#surgeryListSearchForm{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

#surgeryListSearchForm input{
	padding: 0px;
    width: 300px;
    height: 40px;
    margin-left: 30px;
}

#surgeryListTable{
	width: 90%;            
    border-collapse: collapse;
    margin: 20px;    
    box-shadow: 0 2px 3px #ccc; 
}

#surgeryListTable table{
	width: 100%;
}

#surgeryListTable td{
	padding: 8px 12px;     
    text-align: center;      
    border-bottom: 1px solid #ddd; 
}

#surgeryListTable th{
	padding: 8px 12px;     
    text-align: center;      
    border-bottom: 1px solid #ddd; 
	background-color: #eedcba;; 
    font-weight: bold; 
}

#surgeryListTable tr:hover{
	background-color: #e8e8e8; 
}
 
/* surgeryDetail */
 
 #surgeryDetailTable{
	width: 60%;            
    border-collapse: collapse;
    margin: 20px;    
    box-shadow: 0 2px 3px #ccc; 
}
 
#surgeryDetailTable table{
	width: 100%;
} 

#surgeryDetailTable td{
	padding: 8px 12px;     
    text-align: center;      
    border-bottom: 1px solid #ddd; 
}

#surgeryDetailTable th{
	padding: 8px 12px;     
    text-align: center;      
    border-bottom: 1px solid #ddd; 
	background-color: #eedcba;; 
    font-weight: bold; 
}

#surgeryDetailTable tr:hover{
	background-color: #e8e8e8; 
}
 
 
 /* prescriptionList */
 
#prescriptionListtMain{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

#prescriptionListSearchForm{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

#prescriptionListSearchForm input{
	padding: 0px;
    width: 300px;
    height: 40px;
    margin-left: 30px;
}

#prescriptionListTable{
	width: 90%;            
    border-collapse: collapse;
    margin: auto;    
    box-shadow: 0 2px 3px #ccc; 
}

#prescriptionListTable table{
	width: 100%;
}

#prescriptionListTable td{
	padding: 8px 12px;     
	width: 250px;
    text-align: center;      
    border-bottom: 1px solid #ddd; 
}

#prescriptionListTable th{
	padding: 8px 12px;     
    text-align: center;      
    border-bottom: 1px solid #ddd; 
	background-color: #eedcba;; 
    font-weight: bold; 
}

#prescriptionListTable tr:hover{
	background-color: #e8e8e8; 
}


/* regiList */
#regiListMain{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

#regiListTable{
	width: 90%;            
    border-collapse: collapse;
    margin: auto;    
    box-shadow: 0 2px 3px #ccc; 
}

#regiListTable table{
	width: 100%;
}

#regiListable td{
	padding: 8px 12px;     
    text-align: center;      
    border-bottom: 1px solid #ddd; 
}

#regiListTable th{
	padding: 8px 12px;     
    text-align: center;      
    border-bottom: 1px solid #ddd; 
	background-color: #eedcba;; 
    font-weight: bold; 
}

#regiListTable tr:hover{
	background-color: #e8e8e8; 
}



 /* clinicList */
#clinicListMain{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

#clinicListTable{
	width: 90%;            
    border-collapse: collapse;
    margin: auto;    
    box-shadow: 0 2px 3px #ccc; 
}

#clinicListTable table{
	width: 100%;
}

#clinicListTable td{
	padding: 8px 12px;     
    text-align: center;      
    border-bottom: 1px solid #ddd; 
}

#clinicListTable th{
	padding: 8px 12px;     
    text-align: center;      
    border-bottom: 1px solid #ddd; 
	background-color: #eedcba;; 
    font-weight: bold; 
}

#clinicListTable tr:hover{
	background-color: #e8e8e8; 
}


 /* reservationList */
#reservationListMain{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

#reservationListSearchForm{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

#reservationListSearchForm input{
	padding: 0px;
    width: 300px;
    height: 40px;
    margin-left: 30px;
}

#reservationListTable{
	width: 90%;            
    border-collapse: collapse;
    margin: 20px;    
    box-shadow: 0 2px 3px #ccc; 
}

#reservationListTable table{
	width: 100%;
}

#reservationListTable td{
	padding: 8px 12px;     
    text-align: center;      
    border-bottom: 1px solid #ddd; 
}

#reservationListTable th{
	padding: 8px 12px;     
    text-align: center;      
    border-bottom: 1px solid #ddd; 
	background-color: #eedcba;; 
    font-weight: bold; 
}

#reservationListTable tr:hover{
	background-color: #e8e8e8; 
}





#regiForm{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 40px;
 	box-shadow: 0 0 10px rgba(0,0,0,0.1); 
    border-radius: 8px; 
    width: 550px;
    padding: 30px;
	font-size: 20px;
}

#regiForm div{
 	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	margin-top: 20px;
}

#regiForm input{
	padding: 0px;
	width: 60%;
	border: none;
}

#regiForm input:focus  {
	outline: none;
    box-shadow: none;
    border-color: transparent;
}


#regiForm label{
	margin-right: 10px;
	width: 40%;
}

#regiForm select{
	width: 60%;
	height: 40px;
}

/* clinicDetailForm */
#clinicDetailMainDiv{
	border: 1px solid #ced4da;
	border-radius: 10px;
	width: 100%;
	
}

#examinationForm{
	width: 100%;
	margin: auto;
}

#examinationMainDiv{
	display: flex;
	flex-direction: unset;
	box-shadow: 0 0;
	width: 100%;
	padding: 5px;
	margin-top: 0;
	border: 1px solid #ced4da;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  	background-color: #ffffff;
}

#examinationTitleDiv{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	font-weight: bold;
	flex-grow: 2;
}

#examinationContentLeftDiv{
	display: left;
	padding: 10px;
	width: 30%;
	border: 1px solid #ced4da;
	border-radius: 10px;
	text-align: center;
}

#examinationContentLeftDiv span{
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
}

#examinationContentLeftDiv select{
    width: 100px;
    height: 30px;
    text-align: center;
}

#examinationContentLeftDiv button{
	margin-top: 0px;
    width: 80px;
    padding: 5px;
    background-color: #eedcba;
    border: 0;
    border-radius: 10px;
}

#examinationContentRightDiv{
	display: right;
	margin-right: 10px;
	padding: 10px;
	width: 50%;
	border: 1px solid #ced4da;
	border-radius: 10px;
	text-align: center;
}

#examinationContentRightDiv select{
    width: 100px;
    height: 30px;
    text-align: center;
}

#examinationContentRightDiv span{
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
	margin: auto;
}

#examinationContentRightDiv table{
	margin: auto;
	margin-bottom: 10px;
	background-color: #eedcba;
	border-radius:10px;
	width: 400px;
	height: 150px;
}

#examinationContentRightDiv button{
	margin-top: 0px;
    width: 80px;
    padding: 5px;
    background-color: #bed8cb;
    border: 0;
    border-radius: 10px;
}

#prescrptionContentRightDiv button:hover{
	background-color: #ddc5c8;
}













 
 