@charset "UTF-8";

h2{
	font-size: 32px;
	color: #333; 
	background-color: #fff;  
    position: relative;
}

main{
	display: flex;
	justify-content:center;
	align-items: center;
	flex-direction: column;
}
form{
	display: flex;
	flex-direction: column;
	margin-top: 40px;
 	box-shadow: 0 0 10px rgba(0,0,0,0.1); 
    border-radius: 8px; 
    width: 500px;
    padding: 30px;
}

form button{
	margin-top: 30px;
	background-color: #eedcba;
	border: 1px solid black;
	border-radius: 5px;
	width: 100%;
	height: 50px;
}	

form button:hover, form button:active{
	background-color: #bed8cb;
}

label{
 	font-size: 16px;
	margin-right: 50px;
}

input{
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc; 
 	border-radius: 4px; 
}

table{
	width: 80%;            
    border-collapse: collapse;
    margin: 20px;    
    box-shadow: 0 2px 3px #ccc; 
}
th, td {
    padding: 8px 12px;     
    text-align: center;      
    border-bottom: 1px solid #ddd; 
}

th {
    background-color: #eedcba;; 
    font-weight: bold; 
}

tr:hover {
    background-color: #e8e8e8; 
}

.userFormDiv{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 5%;
}

.inputDiv{
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	width: 100%;
}


.currentPage {
    padding: 10px 20px;
    margin: 5px;
    background-color: #eedcba;
    border-radius: 5px;
    color: black;
    font-size: 16px;
}

.contentDiv{
	display: flex;
	justify-content: space-between;
	border: 1px solid #c0c0c0;
	padding: 10px;
}

.contentDiv label{
	font-size: 20px;
}

.detailEmpBtn{
	margin-top: 0px;
	width: 100px;
	height: 50px;
	background-color: #eedcba;
	border: 0;
	border-radius: 10px;
}

.detailEmpBtn:hover{
	background-color: #bed8cb;
}

.detailEmpForm{
	display: flex;
	justify-content: center;
	border: 1px solid black;
	margin-top: 0px;
	flex-direction: unset;
	border: 0;
	padding: 0;
	box-shadow: none;
	width: auto;
}

#errorMessageDiv{
	margin-top: 30px;
	text-align: center;
	color: red;
}

#paginationDiv{
	display: flex;
	justify-content:center;
	align-items: center;
	flex-direction: column;
	height: 50px;
}


#paginationForm{
	display: flex;
	justify-content: center;
	border: 1px solid black;
	width: 700px;
	margin-top: 0px;
	flex-direction: unset;
	border: 0;
	padding: 0;
	box-shadow: none;
}


#paginationLabel {
	padding-top: 10px;
    margin-right: 0px;
}

#paginationInput {
    padding: 0px;
    width: 300px;
    height: 40px;
    margin-left: 30px;
}

#paginationBtn {
	margin-top: 0px;
	width: 100px;
	height: 40px;
	margin-left: 30px;
	border: 0;
}

#searchDiv{
	padding: 10px;
}

#detailView{
	border-radius: 5px;
	background-color: #eedcba;
}

#detailView:hover{
	background-color: #bed8cb;
}


#detailDiv{
	display: flex;
	flex-direction: column;
	font-size: 20px;
}

#detailBtn{
	display: flex;
	margin-top: 20px;
	justify-content: space-between;
	font-size: 20px;
}

#empUpdateForm{
	font-size: 20px;
}

#empUpdateForm div{
 	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	margin-top: 20px;
}

#empUpdateForm input{
	padding: 0px;
	width: 80%;
}

#empUpdateForm label{
	margin-right: 10px;
}

#empUpdateForm select{
	width: 80%;
}

